/* Colors */
/* Font Family */
/* Font Weight */
/* Font Size */
body {
  font-family: "Karla";
  color: #5c5c5c;
}

h2,
h3,
p {
  margin: 0.5rem 0em;
}

@font-face {
  font-family: "Lora";
  src: url("../../font/Lora-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Karla";
  src: url("../../font/Karla-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  src: url("../../font/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hero__container h1 {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  font-weight: 500;
}
.hero__container .hero__wrapper {
  font-family: "Lora", serif;
}

h2 {
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

nav {
  font-family: "Karla", sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.card__container {
  display: grid;
  gap: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 65rem;
}

.card {
  display: grid;
  gap: 1rem;
}

.card__img--left img, .card__img--right img {
  max-width: 100%;
  border-radius: 10px;
}

.card__list {
  margin-top: 1rem;
}
.card__list li {
  font-family: "SourceCodePro";
  display: inline-block;
  border: 1px solid #ccc;
  margin-right: 0.4rem;
  padding: 2px 4px;
  background: #f9f9fb;
  border-radius: 3px;
}

@media only screen and (min-width: 1200px) {
  .card {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  .card__wrapper {
    margin: auto 0;
  }
  .card__img--right {
    grid-row-start: 1;
    grid-column: 2/3;
  }
}
.hero__container {
  margin: 10rem auto;
  width: 90%;
  max-width: 65rem;
}

.hero__wrapper {
  display: flex;
}
.hero__wrapper .hero__text--static {
  font-size: 45px;
  font-weight: 400;
}
.hero__wrapper .hero__text--dynamic {
  margin-left: 12.5px;
  line-height: 67.5px;
  height: 67.5px;
  overflow: hidden;
}
.hero__wrapper .hero__text--dynamic li {
  list-style: none;
  color: deepskyblue;
  font-size: 45px;
  font-weight: 500;
  top: 0;
  position: relative;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -270px;
  }
}
.hero__text--dynamic li {
  position: relative;
}

.hero__text--dynamic li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 2px solid deepskyblue;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .hero__container h1 {
    font-size: 1.5rem;
  }
  .hero__wrapper .hero__text--static {
    font-size: 60px;
  }
  .hero__wrapper .hero__text--dynamic li {
    font-size: 60px;
  }
  .hero__wrapper .hero__text--dynamic {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
  }
  @keyframes slide {
    100% {
      top: -360px;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .hero__container h1 {
    font-size: 1.8rem;
  }
  .hero__wrapper .hero__text--static {
    font-size: 80px;
  }
  .hero__wrapper .hero__text--dynamic li {
    font-size: 80px;
  }
  .hero__wrapper .hero__text--dynamic {
    margin-left: 20px;
    line-height: 120px;
    height: 120px;
  }
  @keyframes slide {
    100% {
      top: -480px;
    }
  }
}
.nav__container ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 2.5rem;
}
.nav__container a {
  color: #5c5c5c;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__container a:hover {
  color: deepskyblue;
}
.nav__container li {
  margin: 0 0.7rem;
}
.nav__container li.selected a {
  color: deepskyblue;
}

@media only screen and (min-width: 1200px) {
  .nav__container ul {
    justify-content: left;
    margin-left: 2.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__container ul {
    justify-content: left;
    margin-left: 2.5rem;
  }
}
footer {
  background-color: lightblue;
}/*# sourceMappingURL=style.css.map */