/* Colors */
/* Font Family */
/* Font Weight */
/* Font Size */
html, body {
  font-family: "Karla";
  color: #5c5c5c;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin: 3rem 0;
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

@font-face {
  font-family: "Lora";
  src: url("../../font/Lora-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Karla";
  src: url("../../font/Karla-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  src: url("../../font/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hero {
  font-family: "Lora", Georgia, serif;
}
.hero h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

html {
  font-family: "Karla", Verdana, sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Lora", Georgia, serif;
  font-size: 2.5rem;
}

h2 {
  font-family: "Karla", Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-family: "Karla", Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-family: "Karla", Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

a {
  font-family: "Karla", Verdana, sans-serif;
  color: #5c5c5c;
  text-decoration: none;
}

nav {
  font-family: "Karla", Verdana, sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .hero h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero h1 {
    font-size: 1.8rem;
  }
  body {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  p {
    font-size: 1.125rem;
  }
}
.card {
  display: grid;
  gap: 1rem;
  margin-bottom: 3rem;
}
.card:last-child {
  margin-bottom: 0;
}

.card__img img {
  max-width: 100%;
  border-radius: 10px;
}

@media only screen and (min-width: 1200px) {
  .card {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  .card__content {
    margin: auto 0;
  }
  .card__img.img--right {
    grid-row-start: 1;
    grid-column: 2/3;
  }
}
.content-grid {
  --padding-inline: 2rem;
  --content-max-width: 65rem;
  --breakout-max-width: 85rem;
  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > * {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.hero {
  margin: 8rem 0 10rem 0;
}

.hero__typewriter {
  display: flex;
}
.hero__typewriter .hero__text--static {
  font-size: 40px;
  font-weight: 400;
}
.hero__typewriter .hero__text--dynamic {
  line-height: 60px;
  height: 60px;
  overflow: hidden;
}
.hero__typewriter .hero__text--dynamic li {
  list-style: none;
  color: deepskyblue;
  font-size: 40px;
  font-weight: 500;
  top: 0;
  position: relative;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -240px;
  }
}
.hero__text--dynamic li {
  position: relative;
}

.hero__text--dynamic li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 2px solid deepskyblue;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .hero__typewriter .hero__text--static {
    font-size: 60px;
  }
  .hero__typewriter .hero__text--dynamic li {
    font-size: 60px;
  }
  .hero__typewriter .hero__text--dynamic {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
  }
  @keyframes slide {
    100% {
      top: -360px;
    }
  }
}
@media only screen and (min-width: 992px) {
  .hero__typewriter .hero__text--static {
    font-size: 80px;
  }
  .hero__typewriter .hero__text--dynamic li {
    font-size: 80px;
  }
  .hero__typewriter .hero__text--dynamic {
    margin-left: 20px;
    line-height: 120px;
    height: 120px;
  }
  @keyframes slide {
    100% {
      top: -480px;
    }
  }
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 2.5rem 0rem;
}
nav a:hover {
  color: deepskyblue;
}

li {
  margin: 0 0.7rem;
}

li.selected a {
  color: deepskyblue;
}

@media only screen and (min-width: 1200px) {
  nav ul {
    justify-content: left;
  }
}
.icons__row {
  display: flex;
}
.icons__row p {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 1rem 0 0;
}
.icons__row span {
  display: inline-block;
  margin-right: 1rem;
  text-align: center;
  padding: 0.8rem;
}

.icon__html {
  background: url("https://api.iconify.design/vscode-icons/file-type-html.svg") no-repeat center center/contain;
}

.icon__css {
  background: url("https://api.iconify.design/vscode-icons/file-type-css.svg") no-repeat center center/contain;
}

.icon__sass {
  background: url("https://api.iconify.design/skill-icons/sass.svg") no-repeat center center/contain;
}

.icon__javascript {
  background: url("https://api.iconify.design/logos/javascript.svg") no-repeat center center/contain;
}

.icon__python {
  background: url("https://api.iconify.design/logos/python.svg") no-repeat center center/contain;
}

.icon__reactjs {
  background: url("https://api.iconify.design/vscode-icons/file-type-reactjs.svg") no-repeat center center/contain;
}

.icon__nodejs {
  background: url("https://api.iconify.design/devicon/nodejs.svg") no-repeat center center/contain;
}

.icon__mongodb {
  background: url("https://api.iconify.design/devicon/mongodb-wordmark.svg") no-repeat center center/contain;
}

button {
  color: #5c5c5c;
  font-family: "SourceCodePro";
  background: #f9f9fb;
  border: 1px solid #ccc;
  padding: 2px 4px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.1);
}
button:hover {
  cursor: pointer;
}

.btn {
  font-family: "SourceCodePro";
  background: #f9f9fb;
  border: 1px solid #ccc;
  padding: 2px 4px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  margin-right: 0.6rem;
}
.btn:hover {
  transform: scale(1.1);
}

.btn.live {
  color: #fff;
  background: #579adc;
  border: 1px solid #579adc;
}

input, textarea {
  width: 100%;
  padding: 0.7rem 1.25rem;
  margin-bottom: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input:focus, textarea:focus {
  outline: none;
  border: 2px solid deepskyblue;
}

footer {
  background-color: lightblue;
}/*# sourceMappingURL=style.css.map */