/* Colors */
$color-primary: deepskyblue;
$color-secondary: lightcoral;
$color-neutral: #343434;
$color-accent-1: #6bb2df;
$color-accent-2: #e0f3ff;

/* Font Family */
$ff-body: "QuattrocentoSans", Verdana, sans-serif;
$ff-heading: "Crimson", Georgia, serif;
$ff-code: "SourceCodePro", Courier, monospace;

/* Font Weight */
$fw-regular: 400;
$fw-semibold: 600;

/* Font Size */
$fs-regular: 1rem;
$fs-heading: 1.8rem;
$fs-subheading: 1.2rem;
