/* Colors */
$clr-primary: #5c5c5c;
$clr-secondary: deepskyblue;

/* Font Family */
$ff-primary: "Karla", sans-serif;
$ff-secondary: "Lora", serif;

/* Font Weight */
$fw-regular: 400;
$fw-semibold: 600;

/* Font Size */
$fs-regular: 1rem;
$fs-heading: 1.8rem;
$fs-subheading: 1.2rem;
