@font-face {
  font-family: "Lora";
  src: url("/font/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Karla";
  src: url("/font/Karla-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/font/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "QuattrocentoSans";
  src: url("/font/QuattrocentoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Crimson";
  src: url("/font/CrimsonText-Regular.ttf") format("truetype");
}

