@use "../abstracts" as *;

button {
  color: $color-neutral;
  @include buttons;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  @include buttons;
  display: inline-block;
  margin-right: 0.6rem;
}

.btn.live {
  color: #fff;
  background: $color-secondary;
  border: 1px solid $color-secondary;
}
