@use "../abstracts" as *;

.card__container {
  display: grid;
  gap: 3rem;
}

.card {
  display: grid;
  gap: 1rem;
}

.card__img img {
  max-width: 100%;
  border-radius: 10px;
}

@include media-query (xlarge) {
  
  .card {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .card__wrapper {
    margin: auto 0;
  }

  .card__img.img--right {
    grid-row-start: 1;
    grid-column: 2/3;
  }
}


