@use "../abstracts" as *;

main {
  margin: 3rem auto;
  width: 90%;
  max-width: 65rem;
}

.card__container {
  display: grid;
  gap: 3rem;
}

.card {
  display: grid;
  gap: 1rem;
}

.card__img--left img , .card__img--right img {
  max-width: 100%;
  border-radius: 10px;
}

.card__list {
  margin-top: 1rem;

  // li {
  //   display: inline-block;
  //   padding: 0.3rem 0.5em;
  //   margin: 0.5em 0.5em 0em 0em;
  //   background-color: #f3f3f3;
  //   border-radius: 5px;
  // }

  li {
    font-family: "SourceCodePro";
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 0.4rem;
    padding: 2px 4px;
    background: #f9f9fb;
    border-radius: 3px;
  }

  a {
    text-decoration: none;
    color: $clr-primary;
  }
}

.card__icon {
  margin-bottom: 1rem;
  display: flex;

  ul {
    display: flex;
  }

  p {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 1rem 0 0;
  }
  
  li {
    display: inline-block;
    margin-right: 1rem;
    text-align: center;
    padding: 0.8rem;
  }

  li.html {
    background: url('https://api.iconify.design/vscode-icons/file-type-html.svg') no-repeat center center / contain;
  }
  li.css {
    background: url('https://api.iconify.design/vscode-icons/file-type-css.svg') no-repeat center center / contain;
  }
  li.sass {
    background: url('https://api.iconify.design/skill-icons/sass.svg') no-repeat center center / contain;
  }
  li.javascript {
    background: url('https://api.iconify.design/logos/javascript.svg') no-repeat center center / contain;
  }
  li.python {
    background: url('https://api.iconify.design/logos/python.svg') no-repeat center center / contain;
  }
  li.reactjs {
    background: url('https://api.iconify.design/vscode-icons/file-type-reactjs.svg') no-repeat center center / contain;
  }
  li.nodejs {
    background: url('https://api.iconify.design/devicon/nodejs.svg') no-repeat center center / contain;
  }
  li.mongodb {
    background: url('https://api.iconify.design/devicon/mongodb-wordmark.svg') no-repeat center center / contain;
  }
}

@include media-query (xlarge) {
  
  .card {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .card__wrapper {
    margin: auto 0;
  }

  .card__img--right {
    grid-row-start: 1;
    grid-column: 2/3;
  }
}


