@use "../abstracts" as *;

.nav__container {

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 2.5rem 0rem;
  }

  a {
    color: #5c5c5c;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $clr-secondary;
    }
  }

  li {
    margin: 0 0.7rem;
  }

  li.selected a {
    color: deepskyblue;
  }
}

@include media-query (xlarge) {
  .nav__container ul {
    justify-content: left;
    margin-left: 2.5rem;
  }
}