@use "../abstracts" as *;

nav {
  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 2.5rem 0rem;
  }

  a:hover {
    color: $color-primary;
  }
}

li {
  margin: 0 0.7rem;
}

li.selected a {
  color: $color-primary;
}

@include media-query(xlarge) {
  nav ul {
    justify-content: left;
  }
}
