@use "../abstracts" as *;

.nav__container {
  margin: 0rem auto;
  width: 90%;
  max-width: 90rem;

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 2.5rem 0rem;
  }

  a:hover {
      color: $clr-secondary;
    }
  }

  li {
    margin: 0 0.7rem;
    text-transform: uppercase;
  }

  li.selected a {
    color: deepskyblue;
  }

@include media-query (xlarge) {
  .nav__container ul {
    justify-content: left;
    // margin-left: 2.5rem;
  }
}