@use "../abstracts" as *;

html {
  font-family: "Karla";
  color: $color-neutral;
  margin: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
}
footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

main {
  margin: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem; 
}

p, ol, button {
  margin-bottom: 1rem;
}

form {
  max-width: 800px;
}

