@font-face {
  font-family: "Lora";
  src: url("../../font/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Karla";
  src: url("../../font/Karla-VariableFont_wght.ttf") format("truetype");
}
