@font-face {
  font-family: "Lora";
  src: url("/font/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Karla";
  src: url("/font/Karla-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/font/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "HanWangMingMedium";
  src: url("/font/HanWangMingMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Mingliu";
  src: url("/font/mingliu.TTF") format("truetype");
}
@font-face {
  font-family: "Simfang";
  src: url("/font/simfang.ttf") format("truetype");
}
