@use "../abstracts" as *;

.hero__container {
  & h1 {
    font-family: $ff-secondary;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .hero__wrapper {
    font-family: $ff-secondary;
  }

}

h2 {
  font-family: $ff-primary;
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-family: $ff-primary;
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-family: $ff-primary;
  font-size: 1rem;
  font-weight: 400;
}

nav {
  font-family: $ff-primary;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
}

