@use '../abstracts' as *;

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  
  .grid img {
    max-height: 400px;
    border-radius: 10px;
  }
  
  @include media-query (small) {
    .grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }

    .grid img {
        max-height: 400px;
        margin-block: auto;
      }
  }