@use "../abstracts" as *;

.about__grid {
  display: grid;
  grid-template-rows: 1fr auto;

  img {
    max-height: 400px;
    border-radius: 10px;
    margin-block: 1rem;
  }
}

@include media-query(medium) {
  .about__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
