@use '../abstracts' as *;

.blog__wrapper {
    max-width: 100ch;

    img {
      width: 100%;
      max-width: 800px;
      border-radius: 20px;
      margin: 2rem 0;
    }
  }

  .blog__heading {
    margin: 0;
  }
  .blog__time {
    color: $color-accent-1;
    font-weight: 500;
  }

  .blog__notes {
    background: $color-accent-2;
    padding: 0.5rem;
    font-weight: bold;
    border-left: 5px solid $color-secondary;
    
    span {
      color: $color-secondary;
      margin-right: 0.3rem;
    }
  }

  @include media-query (large) {
    .blog__time {
      font-size: 1.125rem;
    }
  }
