@use '../abstracts' as *;

header {
  background-color: rgb(237, 237, 237);
}

nav {

  a {
    color: #5c5c5c;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $color-secondary;
    }
  }

  li.selected a {
    color: deepskyblue;
  }
}
